{:kotoba.app/id "cloud.itonami.isic-7420", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreignar4v626jusdasmevuwtpuykxfvylylxzxbeh2mfmd7rg7suzzu", :kotoba.app/embed-url "ipfs://bafkreignar4v626jusdasmevuwtpuykxfvylylxzxbeh2mfmd7rg7suzzu", :published {:archive "https://kotobase.net/ipfs/bafkreignar4v626jusdasmevuwtpuykxfvylylxzxbeh2mfmd7rg7suzzu", :size 75930, :put-status 201, :get-status 200, :at "2026-08-15T14:04:26.159Z"}}
